<div class="cart-container spacing">
    <% if(orders.length) { %>
        <h3>All Orders</h3>
        <hr>
        <div class="order-middle admin">
            <table>
                <thead>
                    <tr>
                        <th>Orders</th>
                        <th>Customer</th>
                        <th>Address</th>
                        <th>Status</th>
                        <th>Placed At</th>
                    </tr>
                </thead>
                <tbody id="admin-orders">
                    <% orders.forEach(order=>{ %>
                        <tr>
                            <td>
                                <div class="orders-col">
                                    <p>
                                        <%= order._id %>
                                    </p>
                                    <% const items=Object.values(order.item) %>
                                        <% items.forEach(item=>{ %>
                                            <div>
                                                <p>
                                                    <%= item.item.name %>
                                                </p>
                                                <span>-</span>
                                                <p>
                                                    <%= item.qty%> pcs
                                                </p>
                                            </div>
                                            <% }) %>
                                </div>
                            </td>
                            <td>
                                <%= order.customerId.name %>
                            </td>
                            <td>
                                <%= order.address %>
                            </td>
                            <td class="status-col">
                                <form class="status-form" action="/admin/orders/status/<%= order._id %> " method="POST">
                                    <select name="status" class="status" onchange="this.form.submit()">
                                        <option value="Order placed" <%=order.status==='Order placed' ? 'Selected' : ''
                                            %> >
                                            Order placed</option>
                                        <option value="Order confirmed" <%=order.status==='Order confirmed' ? 'Selected'
                                            : '' %> >
                                            Order confirmed</option>
                                        <option value="On the way" <%=order.status==='On the way' ? 'Selected' : '' %>
                                            >On the way</option>
                                        <option value="Out for delivery" <%=order.status==='Out for delivery'
                                            ? 'Selected' : '' %> >Out for
                                            delivery
                                        </option>
                                        <option value="Completed" <%=order.status==='Completed' ? 'Selected' : '' %>
                                            >Completed</option>
                                    </select>
                                </form>
                            </td>
                            <td>
                                <p>
                                    <%= moment(order.createdAt).format('hh:mm A') %>
                                </p>
                                <p>
                                    <%= moment(order.createdAt).format('DD MMM YYYY') %>
                                </p>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
        <% } else { %>
            <div class="empty-cart">
                <p>No Pending Orders</p>
                <img src="/images/completed.jpg" alt="completed order">
                <a class="btn" href="/">Go back</a>
            </div>
            <% } %>
</div>