<div class="order-container">
    <div class="order-content">
        <h4>Order Summary</h4>
        <div class="cart-middle">
            <table>
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <% let totalAmt=0 %>
                        <% items.forEach(item=>{%>
                            <tr>
                                <td>
                                    <div class="prod-col">
                                        <div class="left">
                                            <img src="/images/<%= item.item.image %> " alt="">
                                        </div>
                                        <div class="right">
                                            <p>
                                                <%= item.item.name %>
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="qty-col">
                                        <p>
                                            <%= item.qty %>
                                        </p>
                                    </div>
                                </td>
                                <td>
                                    $ <%= item.qty*item.item.price %>.00
                                        <% totalAmt+=item.qty*item.item.price %>
                                </td>
                            </tr>
                            <% })%>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="order-content">
        <input id="hidden-input" type="hidden" value=" <%= JSON.stringify(order) %>">
        <div class="details">
            <h4>Order Details</h4>
            <div>
                <div class="left">
                    <h5>Order Date</h5>
                    <h5>Order Total</h5>
                    <h5>Shipping Address</h5>
                    <h5>Order Status</h5>
                </div>
                <div class="right">
                    <h5>
                        <%= date %>
                    </h5>
                    <h5>
                        $ <%= totalAmt %>.00
                    </h5>
                    <h5>
                        <%= address %>
                    </h5>
                    <h5 id="order-status">
                        <%= status %>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="order-content">
        <div class="details">
            <h4>Payment information</h4>
            <div>
                <div class="left">
                    <h5>Payment Type</h5>
                </div>
                <div class="right">
                    <h5>
                        COD(Cash on Delivery)
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a href="/customer/orders" class="btn">Go back &#8594</a>
    </div>
</div>